body,
h1 {
    font-family: "Roboto", sans-serif;
}

body,
html {
    height: 100%;
    color: white;
    background-color: #f2efea;
}


/* nav bar styling */


/* nav bar sytles desktop */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:visited {
    color: var(--sitepurple);
    text-decoration: underline;
}

ul.topnav li a:hover {
    color: orange;
    text-decoration: underline;
}

ul.topnav li.right {
    float: right;
}

.logo {
    font-weight: bold;
}


/* index page styling */

.index-page {
    background-repeat: no-repeat;
    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url(images/concert-image.jpg);
    background-size: cover;
}

.content {
    margin: auto;
    max-width: 1500px;
    padding-top: 30px;
}


/* styling for the seat arrangement */

.seat-form form {
    margin-top: 40%;
}

.index-title h1 {
    font-size: 88px;
    font-weight: 600;
}

.venue-content,
.seat-page {
    color: black;
}

.description-container {
    height: 90vh;
}